@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.backgroundlogin {
    background-color:#f7c59f;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh
}

.header {
    margin-top: 50px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 90px;
    text-align: center;
}

.formcontainer {
    display:flex;
    justify-content: center;
}

.loginform {
    display: flex;
    flex-direction: row;
}

.input {
    border-radius: 15px;
    gap: 10px;
    margin-left: 5px;
}

.loginbutton {
    margin-left: 5px;
    background-color: #2a324b;
    color:white
}

.bowlingpincontainer {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.Forgot {
   font-family: 'Rajdhani', sans-serif;
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
   font-size: 20px;
}

.Link {
    color: black;
}